<button class="btn btn-lg btn-light" type="button" data-requestid="{{request.id}}" data-action="accept" onclick="handleClick(this)">Accepter le remboursement</button>
<button class="btn btn-lg btn-light" type="button" data-requestid="{{request.id}}" data-action="reject" onclick="handleClick(this)">Refuser</button>
<button class="btn btn-lg btn-light" type="button" data-requestid="{{request.id}}" data-action="delete" onclick="handleClick(this)">Supprimer</button>
